.posts-container {
    display: flex;
    height: fit-content;
    flex-direction: column;
    margin: 25px;
}

.post {
    display: flex;
    align-items: center;
    box-shadow: 0 10px 15px 3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05)!important;
    margin-bottom: 25px;
    min-height: 200px;
    padding: 25px;
}

.title {
    height: 125px;
    text-align: left;
    border-bottom: 2px solid #f2f2f2;
}

.content {
    width: 100%;
}

.info {
    display: flex;
    justify-content: space-between;
}




